h4 {
    padding-top: 120px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: navajowhite;
    margin-bottom: 40px;
}

ul {
    list-style: none;
}

a {
    color: brown;
    font-weight: bold;
    font-size: 17px;
}