<div>
    <h4>Current Offers:</h4>
    <ul>
        <li *ngFor="let book of books">
            <a [routerLink]="['/books/details/', book._id]">
                {{ book.title }}
            </a>
            <img class="img-responsive" src="{{ book.cover }}" alt="image">    
            <button *ngIf="isAdmin" type="button" class="btn btn-default" (click)="deleteBook(book._id)">
                <span class=" glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
            </button>    
        </li>
    </ul>
</div>