.greeting {
    padding-top: 120px;
    text-align: center;
}

.greet {
    font-size: 20px;
    color: antiquewhite;
    margin-bottom: 30px;
}

.advert {
    font-size: 30px;
    font-style: italic;
    color: navajowhite;
}

img {
    width: 50%;
    height: 260px;
    border: 1px solid mediumvioletred;
    margin-top: 15px;
}