<div id="details">
        <a [routerLink]="['/books']">
            &larr; Archive
        </a>
        <div id="border">
            <h3>{{ model.title }}</h3>
            <div class="wrapper">
                <img class="img-responsive" src="{{ model.cover }}" alt="image">
                <div class="block">
                    <p><span class="key">Author: </span><span class="info">{{ model.bookAuthor }}</span></p>
                    <p><span class="key">Genre: </span><span class="info">{{ model.genre }}</span></p>
                    <p><span class="key">Price: </span><span class="info">${{ model.price }}</span></p>
                </div>
            </div>
            <p class="review"><span class="key">Review: </span><span class="info">{{ model.description }}</span></p>    
            <button *ngIf="isAdmin" type="button" class="btn btn-default btn-sm" (click)="editBook(model._id)">
                <span class="glyphicon" aria-hidden="true"></span> Edit
            </button>
        </div>
    </div>